* text=auto !eol
/.classpath -text
/.project -text
.settings/.jsdtscope -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.jsdt.ui.superType.container -text
.settings/org.eclipse.wst.jsdt.ui.superType.name -text
.settings/org.eclipse.wst.validation.prefs -text
WebContent/META-INF/MANIFEST.MF -text
WebContent/WEB-INF/web.xml -text
WebContent/clinical-details.jsp -text
WebContent/cohort.jsp -text
WebContent/collaborative.jsp -text
WebContent/demo1/aggregated_table.jsp -text
WebContent/demo1/dashboard.jsp -text
WebContent/feeds/age_histogram.jsp -text
WebContent/feeds/aggregated.jsp -text
WebContent/feeds/blood.jsp -text
WebContent/feeds/characteristics.jsp -text
WebContent/feeds/characteristics_misc.jsp -text
WebContent/feeds/charlson.jsp -text
WebContent/feeds/charlson_dashboard.jsp -text
WebContent/feeds/charlson_scatter.jsp -text
WebContent/feeds/conferences.jsp -text
WebContent/feeds/count_by_age.jsp -text
WebContent/feeds/count_by_race.jsp -text
WebContent/feeds/domain_team_roster.jsp -text
WebContent/feeds/dta_roster.jsp -text
WebContent/feeds/dua_roster.jsp -text
WebContent/feeds/fact_sheet.jsp -text
WebContent/feeds/filled.jsp -text
WebContent/feeds/line_dta_dua_regs.jsp -text
WebContent/feeds/machine_learning_dashboard.jsp -text
WebContent/feeds/map_data.jsp -text
WebContent/feeds/meds.jsp -text
WebContent/feeds/meds_by_class.jsp -text
WebContent/feeds/models.jsp -text
WebContent/feeds/ochinLocations.jsp -text
WebContent/feeds/online.jsp -text
WebContent/feeds/online_count.jsp -text
WebContent/feeds/papers.jsp -text
WebContent/feeds/peak.jsp -text
WebContent/feeds/preprints.jsp -text
WebContent/feeds/priority_drug_counts_csv.jsp -text
WebContent/feeds/project_graph.jsp -text
WebContent/feeds/project_roster.jsp -text
WebContent/feeds/question_feed_csv.jsp -text
WebContent/feeds/questions.jsp -text
WebContent/feeds/questions_csv.jsp -text
WebContent/feeds/questions_hlh_csv.jsp -text
WebContent/feeds/questions_prod.jsp -text
WebContent/feeds/questions_test_csv.jsp -text
WebContent/feeds/severity.jsp -text
WebContent/feeds/severity_detail.jsp -text
WebContent/feeds/severity_temp.jsp -text
WebContent/feeds/siteLocations.jsp -text
WebContent/feeds/siteRoster.jsp -text
WebContent/feeds/total_by_source_count_weekly_int.jsp -text
WebContent/footer.jsp -text
WebContent/graph_support/cohort_map.jsp -text
WebContent/graph_support/cohort_map_legend.jsp -text
WebContent/graph_support/forcePhoto.jsp -text
WebContent/graph_support/grouped_bar.jsp -text
WebContent/graph_support/labelledMap.jsp -text
WebContent/graph_support/map_data.jsp -text
WebContent/graph_support/n3c_fact_sheet.jsp -text
WebContent/graph_support/pieChart.jsp -text
WebContent/graph_support/pieChart_local.jsp -text
WebContent/graph_support/pyramid.jsp -text
WebContent/graph_support/scatterplot.jsp -text
WebContent/graph_support/site_map.jsp -text
WebContent/graph_support/test.html -text
WebContent/graph_support/us-states.json -text
WebContent/graph_support/us_states.jsp -text
WebContent/graph_support/verticalBarChart.jsp -text
WebContent/graph_support/verticalBarChart_local.jsp -text
WebContent/graph_support/verticalBarChart_v4.jsp -text
WebContent/graphs/blood.jsp -text
WebContent/graphs/blood_by_severity.jsp -text
WebContent/graphs/blood_by_type.jsp -text
WebContent/graphs/characteristics.jsp -text
WebContent/graphs/characteristics_ethnicity.jsp -text
WebContent/graphs/characteristics_gender.jsp -text
WebContent/graphs/characteristics_misc.jsp -text
WebContent/graphs/characteristics_payer.jsp -text
WebContent/graphs/characteristics_race.jsp -text
WebContent/graphs/charlson.jsp -text
WebContent/graphs/charlson_scatter.jsp -text
WebContent/graphs/clinical.jsp -text
WebContent/graphs/collaboration.jsp -text
WebContent/graphs/collaboration_graph.jsp -text
WebContent/graphs/collaborative.jsp -text
WebContent/graphs/columnFreqData.jsp -text
WebContent/graphs/dashboard.jsp -text
WebContent/graphs/home.jsp -text
WebContent/graphs/labs.jsp -text
WebContent/graphs/line_data_dua.jsp -text
WebContent/graphs/line_registrations.jsp -text
WebContent/graphs/long_covid.jsp -text
WebContent/graphs/medications.jsp -text
WebContent/graphs/medications_by_medication.jsp -text
WebContent/graphs/medications_by_severity.jsp -text
WebContent/graphs/ml.jsp -text
WebContent/graphs/pediatrics.jsp -text
WebContent/graphs/pediatrics_age.jsp -text
WebContent/graphs/pediatrics_coinfection.jsp -text
WebContent/graphs/pediatrics_geographic.jsp -text
WebContent/graphs/pediatrics_severity.jsp -text
WebContent/graphs/public_health.jsp -text
WebContent/graphs/public_health_prod.jsp -text
WebContent/graphs/publications.jsp -text
WebContent/graphs/qlik.jsp -text
WebContent/graphs/questions.jsp -text
WebContent/graphs/questions2.jsp -text
WebContent/graphs/rowFreqData.jsp -text
WebContent/graphs/scatter.jsp -text
WebContent/graphs/severity.jsp -text
WebContent/graphs/severity_ethnicity.jsp -text
WebContent/graphs/severity_gender.jsp -text
WebContent/graphs/severity_misc.jsp -text
WebContent/graphs/severity_payer.jsp -text
WebContent/graphs/severity_race.jsp -text
WebContent/graphs/severity_smoking.jsp -text
WebContent/graphs/tables.jsp -text
WebContent/head.jsp -text
WebContent/images/cd2h_invent.png -text
WebContent/images/n3c_logo.png -text
WebContent/images/person_icon.png -text
WebContent/index.jsp -text
WebContent/index2.jsp -text
WebContent/index_prod.jsp -text
WebContent/long_covid_downloads/fig1.svg -text
WebContent/long_covid_downloads/fig2.svg -text
WebContent/long_covid_downloads/fig3.svg -text
WebContent/long_covid_downloads/fig4.svg -text
WebContent/long_covid_downloads/fig5.svg -text
WebContent/long_covid_downloads/figS1.svg -text
WebContent/machine-learning.jsp -text
WebContent/navbar.jsp -text
WebContent/phenotype-explorer.jsp -text
WebContent/publications.jsp -text
WebContent/resources/DataTables/css/dataTables.bootstrap.css -text
WebContent/resources/DataTables/css/dataTables.bootstrap.min.css -text
WebContent/resources/DataTables/css/dataTables.bootstrap4.css -text
WebContent/resources/DataTables/css/dataTables.bootstrap4.min.css -text
WebContent/resources/DataTables/css/dataTables.bootstrap5.css -text
WebContent/resources/DataTables/css/dataTables.bootstrap5.min.css -text
WebContent/resources/DataTables/css/dataTables.bulma.css -text
WebContent/resources/DataTables/css/dataTables.bulma.min.css -text
WebContent/resources/DataTables/css/dataTables.dataTables.css -text
WebContent/resources/DataTables/css/dataTables.dataTables.min.css -text
WebContent/resources/DataTables/css/dataTables.foundation.css -text
WebContent/resources/DataTables/css/dataTables.foundation.min.css -text
WebContent/resources/DataTables/css/dataTables.jqueryui.css -text
WebContent/resources/DataTables/css/dataTables.jqueryui.min.css -text
WebContent/resources/DataTables/css/dataTables.semanticui.css -text
WebContent/resources/DataTables/css/dataTables.semanticui.min.css -text
WebContent/resources/DataTables/css/jquery.dataTables.css -text
WebContent/resources/DataTables/css/jquery.dataTables.min.css -text
WebContent/resources/DataTables/datatables.min.css -text
WebContent/resources/DataTables/datatables.min.js -text
WebContent/resources/DataTables/images/sort_asc.png -text
WebContent/resources/DataTables/images/sort_asc_disabled.png -text
WebContent/resources/DataTables/images/sort_both.png -text
WebContent/resources/DataTables/images/sort_desc.png -text
WebContent/resources/DataTables/images/sort_desc_disabled.png -text
WebContent/resources/DataTables/js/dataTables.bootstrap.js -text
WebContent/resources/DataTables/js/dataTables.bootstrap.min.js -text
WebContent/resources/DataTables/js/dataTables.bootstrap4.js -text
WebContent/resources/DataTables/js/dataTables.bootstrap4.min.js -text
WebContent/resources/DataTables/js/dataTables.bootstrap5.js -text
WebContent/resources/DataTables/js/dataTables.bootstrap5.min.js -text
WebContent/resources/DataTables/js/dataTables.bulma.js -text
WebContent/resources/DataTables/js/dataTables.bulma.min.js -text
WebContent/resources/DataTables/js/dataTables.dataTables.js -text
WebContent/resources/DataTables/js/dataTables.dataTables.min.js -text
WebContent/resources/DataTables/js/dataTables.foundation.js -text
WebContent/resources/DataTables/js/dataTables.foundation.min.js -text
WebContent/resources/DataTables/js/dataTables.jqueryui.js -text
WebContent/resources/DataTables/js/dataTables.jqueryui.min.js -text
WebContent/resources/DataTables/js/dataTables.semanticui.js -text
WebContent/resources/DataTables/js/dataTables.semanticui.min.js -text
WebContent/resources/DataTables/js/jquery.dataTables.js -text
WebContent/resources/DataTables/js/jquery.dataTables.min.js -text
WebContent/resources/app.js -text
WebContent/resources/auth.js -text
WebContent/resources/autocomplete.css -text
WebContent/resources/autocomplete.js -text
WebContent/resources/d3-tip.js -text
WebContent/resources/d3.tip.v0.6.3.js -text
WebContent/resources/d3.v3.min.js -text
WebContent/resources/d3.v4.min.js -text
WebContent/resources/main_style.css -text
WebContent/resources/n3c_login_style.css -text
WebContent/sites/mapping.jsp -text
WebContent/sites/submit_mapping.jsp -text
WebContent/tab_test.jsp -text
WebContent/tab_test2.jsp -text
WebContent/tables/blood.jsp -text
WebContent/tables/characteristics.jsp -text
WebContent/tables/charlson.jsp -text
WebContent/tables/charlson_dashboard.jsp -text
WebContent/tables/conferences.jsp -text
WebContent/tables/datatableC.html -text
WebContent/tables/domain_team_roster.jsp -text
WebContent/tables/dta_roster.jsp -text
WebContent/tables/dua_roster.jsp -text
WebContent/tables/filled.jsp -text
WebContent/tables/jquery.hottie.js -text
WebContent/tables/machine_learning_dashboard.jsp -text
WebContent/tables/meds.jsp -text
WebContent/tables/models.jsp -text
WebContent/tables/online.jsp -text
WebContent/tables/overall_stats.jsp -text
WebContent/tables/papers.jsp -text
WebContent/tables/peak.jsp -text
WebContent/tables/preprints.jsp -text
WebContent/tables/project_roster.jsp -text
WebContent/tables/project_roster_styled.jsp -text
WebContent/tables/questions_styled.jsp -text
WebContent/tables/questions_styled2.jsp -text
WebContent/tables/questions_styled3.jsp -text
WebContent/tables/questions_styled4.jsp -text
WebContent/tables/severity.jsp -text
WebContent/tables/site_roster.jsp -text
WebContent/testing.html -text
/pom.xml -text
