# we must include the valve spec in the Tomcat configuration for this to work

#
# if we're coming in using the old scheme, app?tab, remap to new scheme and then fall through
#
RewriteCond %{QUERY_STRING} ^([-a-z0-9]+)$
RewriteRule .* /%1

#
# internally map the tab "path" to an argument
#
RewriteRule ^/([-_A-Za-z0-9]+)$ /index.jsp?main=$1 [L]

RewriteRule ^/([-_A-Za-z0-9]+)/([-_A-Za-z0-9]+)$ /index.jsp?main=$1&secondary=$2 [L]

RewriteRule ^/([-_A-Za-z0-9]+)/([-_A-Za-z0-9]+)/([-_A-Za-z0-9]+)$ /index.jsp?main=$1&secondary=$2&tertiary=$3 [L]
